a{
	text-decoration: none;
}
.header_icon:hover,
#login:hover,
#register:hover {
    cursor: pointer;
}
.header {
    position: relative;
    display: flex;
    justify-content: right;
    width: 100%;
}
.header_container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}
.profile_link a{
	text-decoration: none;
	color: black;
}
.profile_link a:visited{
	text-decoration: none;
	color: black;
}
.header_inner {
    display: flex;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.header_left {
    display: flex;
    width: 100%;
    padding: 10px;
    color: black;
}
.header_right {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    width: 200px;
}
.profile_img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.profile_img > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.profile_img:hover {
    cursor: pointer;
}
.profile_menu {
    display: block;
    position: fixed;
    margin-top: 80px;
    margin-right: 50px;
    width: 10%;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    justify-content: right;
    background-color: white;
    z-index: 1;
}
.menu_top {
    padding: 20px;
    border-bottom: 1px solid lightgray;
}
.menu_top:hover {
    cursor: pointer;
}
.userNickname {
    font-size: 1.2rem;
    font-weight: 700;
}
.emailCheck{
	padding: 0;
}
.menu_bottom {
    padding: 10px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
}
.menu_bottom > div > i {
    padding-right: 15px;
}
.menu_bottom > div {
    margin: 5px 0;
    padding: 10px 20px;
}
.menu_bottom > div:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}
.menu_bottom > div > a{
	text-decoration: none;
	color: black;
}
.logout > a > span{
	padding-left: 15px;
}

/* Modal */
.hidden{
	display: none;
}

.login_black-bg,
.register_black-bg,
.setting_black-bg,
.comment_black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding: 30px;
}
.login_white-bg,
.register_white-bg,
.comment_white-bg {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 20px;
}
.setting_white-bg{
	padding: 0;
}
.profile_hide,
.login_hide,
.register_hide,
.setting_hide {
    display: none !important;
}
.loginModal,
.registerModal,
.settingModal {
    display: flex;
}

.logo {
    font-weight: 600;
    font-size: 28px;
}
.login_white-bg > div,
.register_white-bg > div {
    margin: 10px 0;
}
.login_white-bg > div:nth-child(2),
.register_white-bg > div:nth-child(2) {
    font-size: 18px;
}
.login_white-bg > form > div,
.register_white-bg > form > div {
    margin: 20px 0;
}
.login_white-bg > form > div > input {
    width: 350px;
    padding: 15px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #efefef;
}
.register_white-bg > form > div > input {
    width: 450px;
    padding: 15px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: #efefef;
}
#register_btn,
#login_btn {
    font-weight: 600;
    color: rgb(250, 54, 139);
}
#register_btn:hover,
#login_btn:hover {
    cursor: pointer;
}
#login_close,
#register_close {
    width: 100%;
    padding: 12px;
    font-weight: 600;
    background-color: rgb(250, 54, 139);
    color: white;
}
#login_close:hover,
#register_close:hover {
    background-color: rgb(221, 15, 105);
}

.header_icon {
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 1.3rem;
}
.header_icon a{
	text-decoration : none;
	color: black;
}
.header_icon a:visited{
	text-decoration: none;
    color: black;
}
#login {
	border: none;
    background-color: transparent;
}
#register {
	border: none;
	background-color: rgb(250, 54, 139);
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.setting_white-bg {
    margin: auto;
    display: flex;
    background: white;
    border-radius: 5px;
}
.hide {
    display: none !important;
}
.setting_menu {
    width: 180px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}
.setting_menu,
.info_top {
    font-weight: 600;
}
.introduce{
	padding: 0;
}
.info_id_nickname{
	display: flex;
}
.info_id_nickname > div > input{
	width: 95%;
	border: 2px solid #ccc;
    border-radius: 5px;
}
.info_top {
	display: flex;
	justify-content: space-between;
    font-size: 1.3rem;
}
.menu_list {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.menu_list > div {
    color: gray;
    padding: 5px 0;
}
.menu_list:hover {
    cursor: pointer;
}
.setting_contents {
    width: 420px;
    height: 560px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    overflow: hidden;
    border-left: 2px solid rgb(195, 195, 195);
}
#setting_close:hover {
    color: red;
    cursor: pointer;
}
.setting_info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.setting_info > div:last-child {
    text-align: right;
    margin-top: 10px;
}
.info_middle {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 400px;
}
.info_save{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 10px;
}
.info_img {
    width: 80px;
    height: 80px;
}
.form-control{
	width: 220px;
}
.info_btns {
    display: flex;
    flex-direction: column;
    width: 230px;
    justify-content: center;
}
.info_btn {
    width: 200px;
    padding: 10px 0;
    margin: 0;
    border-radius: 5px;
}
.pic_desc {
    font-size: 0.8rem;
}
.info_bottom {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 85%;
}
.info_bottom > div {
    display: flex;
}
.info_email,
.info_intro{
	flex-direction: column;
}
.info_bottom > div > div {
    padding: 5px;
}
.info_bottom > div > input,
.info_bottom > div > textarea {
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 98%;
    height: 30px;
}
.info_bottom > div > textarea {
    height: 150px;
    resize: none;
}
.password_info {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.password_info > form > div{
	padding-bottom: 20px;
}
.password_save{
	display: flex;
    width: 100%;
    padding-right: 20px;
    justify-content: flex-end;
}
.password_wrapper {
    position: relative;
    width: 100%;
}
.password {
    border-radius: 5px;
    border: 2px solid #ccc;
    width: 95%;
    padding: 5px;
}
.pw_btn {
    color: gray;
    position: absolute;
    top: 5px;
    right: 30px;
}
.pw_btn:hover {
    cursor: pointer;
}
#comment_close:hover {
    cursor: pointer;
    color: red;
}