<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.kr.board.mapper.BoardMapper">

    <!-- 게시글 리스트 조회 -->
    <select id="getBoardList" resultType="BoardVO" parameterType="BoardVO">
        <![CDATA[
        /*	getBoardList	*/
        SELECT
            B.BOARD_ID
            , T.NAME AS TAG_NM
            , TITLE
            , WRT_TIME
        FROM
            BOARD B
        JOIN
            BOARD_TAG BT ON B.BOARD_ID = BT.BOARD_ID
        JOIN
            TAG T ON BT.TAG_ID = T.TAG_ID
        ]]>
        <where>
            <if test="schType != null and schType != ''">
                <if test="schType == 'notice'">
                    T.NAME = '공지사항'
                </if>
                <if test="schType == 'ui'">
                    T.NAME = 'UI개선'
                </if>
                <if test="schType == 'func'">
                    T.NAME = '기능개선'
                </if>
            </if>
        </where>
        <![CDATA[
        ORDER BY
            WRT_TIME DESC
        LIMIT #{size}
        OFFSET #{offset}
        ]]>
    </select>

    <!-- 게시글 리스트 개수 조회 -->
    <select id="getBoardListCnt" resultType="Integer" parameterType="BoardVO">
        <![CDATA[
        /*	getBoardListCnt	*/
        SELECT
            COUNT(*)
        FROM
            BOARD B
        JOIN
            BOARD_TAG BT ON B.BOARD_ID = BT.BOARD_ID
        JOIN
            TAG T ON BT.TAG_ID = T.TAG_ID
        ]]>
        <where>
            <if test="schType != null and schType != ''">
                <if test="schType == 'notice'">
                    T.NAME = '공지사항'
                </if>
                <if test="schType == 'ui'">
                    T.NAME = 'UI개선'
                </if>
                <if test="schType == 'func'">
                    T.NAME = '기능개선'
                </if>
            </if>
        </where>
    </select>

    <!-- 게시글 상세 페이지 조회 -->
    <select id="getBoardDetail" resultType="BoardVO" parameterType="BoardVO">
        <![CDATA[
        /*	getBoardDetail	*/
        SELECT
            B.BOARD_ID
            , T.NAME AS TAG_NM
            , TITLE
            , CONTENT
        FROM
            BOARD B
        JOIN BOARD_TAG BT ON B.BOARD_ID = BT.BOARD_ID
        JOIN TAG T ON BT.TAG_ID = T.TAG_ID
        ]]>
        <where>
            <if test="boardId != null and boardId != ''">
                AND B.BOARD_ID = #{boardId}
            </if>
        </where>
    </select>


    <!-- 게시글 작성 -->
    <insert id="insertBoardPost" parameterType="BoardVO"
            useGeneratedKeys="true" keyProperty="boardId">
        <![CDATA[
        /*	insertBoardPost	*/
        INSERT INTO BOARD
        (
            TITLE
            , CONTENT
            , USR_ID
        ) VALUES(
            #{title}
            , #{content}
            , #{usrId}
        )
    ]]>
    </insert>


    <!-- 게시글 수정 -->
    <insert id="updateBoardPost" parameterType="BoardVO">
        <![CDATA[
        /*	updateBoardPost	*/
        UPDATE
            BOARD
        SET
            TITLE = #{title}
            , CONTENT = #{content}
        WHERE
            BOARD_ID = #{boardId}
    ]]>
    </insert>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="BoardVO">
        <![CDATA[
        /*	deleteBoard	*/
        DELETE FROM
            BOARD
        WHERE
            BOARD_ID = #{boardId}
        ]]>
    </delete>

    <!-- 게시글 태그 추가 -->
    <insert id="insertBoardTag" parameterType="BoardVO">
        <![CDATA[
        /*	insertBoardTag	*/
        INSERT INTO BOARD_TAG
        (
            BOARD_ID
            , TAG_ID
        ) VALUES(
            #{boardId}
            , #{tagId}
        )
    ]]>
    </insert>

    <!-- 게시글 태그 수정 -->
    <insert id="updateBoardTag" parameterType="BoardVO">
        <![CDATA[
        /*	updateBoardTag	*/
        UPDATE
            BOARD_TAG
        SET
            TAG_ID = #{tagId}
        WHERE
            BOARD_ID = #{boardId}
    ]]>
    </insert>

    <!-- 게시글 태그 삭제 -->
    <delete id="deleteBoardTag" parameterType="BoardVO">
        <![CDATA[
        /*	deleteBoard	*/
        DELETE FROM
            BOARD_TAG
        WHERE
            BOARD_ID = #{boardId}
        ]]>
    </delete>

</mapper>