<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- 해당 설정파일에서 사용하는 프로퍼티-->
    <Properties>
        <property name="LOGS_PATH">logs</property>
    </Properties>

    <Appenders>
        <!-- 콘솔 -->
        <Console name="Console" target="SYSTEM_OUT">
		    <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %p %t %c - %m %n" charset="UTF-8"/>
		</Console>

        <!-- 콘솔(log4jdbc) -->
        <Console name="Log4jConsole" target="SYSTEM_OUT">
		    <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %p %t %c%n--------------------------%n%m%n--------------------------%n" charset="UTF-8"/>
		</Console>

        <!-- 파일 -->
        <RollingFile name ="RollingFile">
            <FileName>${LOGS_PATH}/log4j2.log</FileName>
            <FilePattern>${LOGS_PATH}/log4j2.%d{yyyy-MM-dd}.%i.log.gz</FilePattern>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %p %t %c - %m %X{requestUrl}%n" charset="UTF-8" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/>
                <TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
            </Policies>
        </RollingFile>

        <!-- 파일(log4jdbc)-->
        <RollingFile name ="Log4jRollingFile">
            <FileName>${LOGS_PATH}/log4j2.log</FileName>
            <FilePattern>${LOGS_PATH}/log4j2.%d{yyyy-MM-dd}.%i.log.gz</FilePattern>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %p %t %c%n--------------------------%n%m %X{requestUrl}%n--------------------------%n"
            				charset="UTF-8"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/>
                <TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- 기본(디폴트) logger 설정 - FATAL, ERROR, WARN, INFO, DEBUG, TRACE -->
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>

        <!-- springframework logger -->
        <Logger name="tg.dq.*" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <!-- springframework logger -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <Logger name="com.zaxxer.hikari" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <Logger name="org.apache.catalina" level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <Logger name="java.sql" level="OFF" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <Logger name="jdbc.sqlonly" level="OFF" additivity="false">
           <AppenderRef ref="Console" />
           <AppenderRef ref="RollingFile" />
        </Logger>

        <Logger name="jdbc.sqltiming" level="OFF" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <Logger name="jdbc.resultsettable" level="OFF" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <Logger name="jdbc.audit" level="OFF" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <Logger name="jdbc.resultset" level="OFF" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <Logger name="jdbc.connection" level="OFF" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <!-- log4jdbc -->
        <Logger name="log4jdbc.log4j2" level="INFO" additivity="false">
            <!-- 쿼리(파라미터포함) 로그만 남기도록 필터 - https://log4jdbc.brunorozendo.com/ 참조 -->
            <Filters>
                <MarkerFilter marker="LOG4JDBC_EXCEPTION"             onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <MarkerFilter marker="LOG4JDBC_SQL"                   onMatch="ACCEPT"    onMismatch="NEUTRAL"/>
                <MarkerFilter marker="LOG4JDBC_RESULTSETTABLE"        onMatch="ACCEPT"    onMismatch="NEUTRAL"/>
                <MarkerFilter marker="LOG4JDBC_RESULTSET"             onMatch="DENY"   onMismatch="DENY"/>
                <MarkerFilter marker="LOG4JDBC_AUDIT"                 onMatch="DENY"   onMismatch="DENY"/>
                <MarkerFilter marker="LOG4JDBC_CONNECTION"            onMatch="DENY"   onMismatch="DENY"/>
            </Filters>
            <AppenderRef ref="Log4jConsole" />
            <AppenderRef ref="Log4jRollingFile" />
        </Logger>
    </Loggers>
</Configuration>
